body {
  background-color: #000;
}

.divider {
  background-color: #eee;
}
#intro {
  background-image: url("../img/substation.jpg");
  height: 900px;
  
}

@media (max-width: 1576px) {
  
  
  #intro {
    background-image: url("../img/substation.jpg");
    height: 350px;
    
  }


#book {
  background-image: url("../img/trafo3.jpg");
  height: 300px;
  background-size: cover;
}
}
